</main>
  <footer>

  </footer>
</body>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/js/delete.js"> </script>
<script type="module" src="/public/js/filtering.js"> </script>
<script src="/public/js/strikethrough.js"> </script>
<script src="/public/js/new.js"> </script>
</html>
