@import "normalizez.scss"
@import "resets.scss"

*
    box-sizing: border-box
    
   

body 
    background-color: #FFE4E1
    color: white




.my-active 
    border: none
    background-color: transparent
    border-bottom: 2px solid #007BFF
    color: #000


.btn 
    color: white
    border: none


.primary
    background-color: #626ED9

.unactive 
    border: none
    background-color: transparent
    color: #6c757d


.my-mb-35 
    margin-bottom: 35px


.nav-link:hover 
    border: none
    background-color: #DCDCDC


.active-link 
    border: none
    background-color: #DCDCDC
    border-bottom: 3px solid #007BFF
    color: #000
